{% extends 'base.html.twig' %}

{% block body %}
	<h2>Hi there</h2>

	<p>There is no content here at this time, so just sit back and relax and try out some of the demonstrable features of the framework.</p>
{% endblock %}